<template>
    <article
        class="w-full h-full"
        @click.left="fill"
        @click.right.prevent="empty"
    >
        <p v-if="imgSrc === null"></p>
        <img
            v-else
            :src="imgSrc"
            alt=""
            class="m-auto"
        >
    </article>
    
</template>

<script setup lang="ts">
    import { ref, toRefs, onMounted, watch } from 'vue';
    import { useReactorStore } from "@/store/useReactor";

    const reactor = useReactorStore();
    const { getCell, fillCell, isCellEmpty, emptyCell } = reactor;

    const props = defineProps({
        line: Number,
        column: Number
    })
    const { line, column } = toRefs(props);

    const imgSrc = ref();

    const cell = ref();

    onMounted(() =>{
        updateImg();
    })

    const updateImg = () =>{
        cell.value = getCell(column.value, line.value);
        if (cell.value.category !== null && cell.value.tier !== null){
            const imagePath = `../assets/components/${cell.value.category}s/${cell.value.category}_${cell.value.tier}.svg`;
            imgSrc.value = new URL(imagePath, import.meta.url).href;
        }else{
            imgSrc.value = null;
        }
    }

    const fill = () =>{
        fillCell(column.value, line.value);
        updateImg();
    }
    const empty = () =>{
        emptyCell(column.value, line.value);
        updateImg();
    }

</script>

<style scoped></style>
