<template>
    <section class="flex flex-wrap flex-col m-auto justify-center align-center">
        <article v-for="({name, sprite, available}, index) in comps"
                 :key="index"
                 class="flex flex-col flex-nowrap justify-center align-center mx-auto my-1 rounded-lg cursor-pointer"
                 @click="available && compSelection(name)"
            >
            <div :class="`${available? (isSelected(name)? 'bg-blue-900' : 'bg-blue-300') : 'bg-gray-600'}`">
                <img :src="sprite" class="component m-auto" :alt="name"/>
            </div>
            
        </article>
    </section>
</template>

<script setup lang="ts">
    import components from "@/assets/components.json";
    import {ref} from "vue";
    import { useMetricsStore } from "@/store/useMetrics";
    import { useReactorStore } from "@/store/useReactor";
    import { computed } from "@vue/reactivity";

    const metrics = useMetricsStore();
    const reactor = useReactorStore();
    const { money } = metrics;
    const { selectedComp, selectComp } = reactor;

    metrics.$subscribe((_, state) => {
        console.log(`${state.money} from ComponentPanel`);
        comps.value.forEach(compo => {
            compo.available = compo.price <= state.money;
        });
    });

    const comps = ref(components.map((comp)=> {
        return {
            name: comp["name"],
            sprite: new URL(`../assets/components/${comp.category}s/${comp.category}_${comp.tier}.svg`, import.meta.url).href,
            price: comp["baseCost"],
            available: comp["baseCost"]<= money
        }
    }));
    const isSelected = (name) => {
        let res = false;
        if (selectedComp.value !== null && selectedComp.value.name === name){
            res = true;
        }
        return res;
    };
    const isAvailable = (name) =>{
        const comp = comps.value.find(c => c.name === name);
        const res = comp.price <= money;
        console.log(`the component ${comp.name} is available ${res}`);
        return comp.price <= money;
    };
    const compSelection = (name) => {
        const sel = components.find(c => c.name === name);
        if (selectedComp.value !== null){
            if (selectedComp.value.name !== sel.name){
                selectComp(sel);
            }else{
                selectComp(null);
            }
        }else{
            selectComp(sel);
        }
    };

</script>

<style scoped>
.component{
    width: 7vh;
    height: 7vh;
}
</style>