<template>
    <article class="w-full h-full flex justify-center align-center space-x-4">
    </article>
</template>

<script setup lang="ts">
</script>

<style scoped  lang="postcss">
  button{
    @apply focus:outline-none text-blue-600 text-sm py-2.5 px-5 rounded-md border border-blue-600 hover:bg-blue-50;
  }
</style>