<template>
    <article class=" flex justify-center align-center w-full h-full">
        <table class="m-auto">
            <tr v-for="(row,ind1) in grid" :key="ind1">
                <td
                    v-for="( _ , ind2) in row"
                    :key="ind2"
                    class="border-2 border-gray-500"
                >
                    <Cell :column="ind1" :line="ind2"/>
                </td>
            </tr>
        </table>
    </article>
</template>

<script  setup lang="ts">
    import Cell from "./Cell.vue";
    import { useReactorStore } from "@/store/useReactor";

    const reactor = useReactorStore();
    const { nbCol, nbLig, grid } = reactor;
</script>

<style scoped>
td{
    width: 7vh;
    height: 7vh;
}
</style>