<template>
    <article class="flex flex-col justify-between content-between h-full w-full">
        <article class="h-1/3">
            <p class="text-3xl leading-loose text-center text-black h-2/3">{{money}}$</p>
            <button type="button" @click="incrementMoney" class="w-full h-1/3 bg-blue-300">
                +1$
            </button>
        </article>
        
        <div class="h-2/3">
            <div class="h-1/2 border border-gray-200">
                <p class="text-xs leading-loose py-1 text-center text-black shadow h-2/3" :style="`background-color: hsl(${120-((heat/maxHeat)*120) },100%,50%)`">{{heat}}°</p>
                <button type="button" @click="decrementHeat" class="w-full h-1/3 bg-blue-300">
                    -1°C
                </button>
            </div>
            <div class="h-1/2 border border-gray-200">
                <p class="text-xs leading-loose py-1 text-center text-black shadow h-2/3" :style="`background-color: hsl(${120-((power/maxPower)*120) },100%,50%)`">{{power}}W</p>
                <button type="button" @click="sellPower" class="w-full h-1/3 bg-blue-300">
                    sell power
                </button>
            </div>
        </div>
    </article>
</template>

<script setup lang="ts">
    import { storeToRefs } from 'pinia';
    import { useMetricsStore } from '@/store/useMetrics';


    const metrics = useMetricsStore();
    const {money, heat, maxHeat, power, maxPower} = storeToRefs(metrics);
    const { incrementMoney, sellPower, decrementHeat } = metrics;

</script>

<style scoped>

</style>