<template>
  <main class="flex flex-col items-center">
    <section class="w-screen h-screen flex flex-row flex-nowrap">
      <article class="flex flex-col flex-nowrap w-1/6 border-r-2 border-gray-600">
        <article class="h-2/6 border-b-2 border-gray-600">
          <stat-display/>
        </article>
        <article>
          <component-panel/>
        </article>
      </article>
      <article class="flex flex-col flex-nowrap w-5/6">
        <article class="h-1/5 border-b-2 border-gray-600">
          <make-actions/>
        </article>
        <article class="col-span-2 row-span-2 h-full w-full">
          <reactor-panel/>
        </article>
      </article>
    </section>
    
    <article v-if="false">
      <input type="button" @click="reset" value="Reset">
    </article>
  </main>
</template>

<script setup lang="ts">
  import StatDisplay from "@/components/statDisplay.vue";
  import MakeActions from "@/components/MakeActions.vue";
  import ComponentPanel from "@/components/ComponentPanel.vue";
  import ReactorPanel from "@/components/ReactorPanel.vue";

  import { useMetricsStore } from '@/store/useMetrics';
  import { useReactorStore } from "@/store/useReactor";

  const metrics = useMetricsStore();
  const {resetMetrics} = metrics;
  const reactor = useReactorStore();
  const {resetReactor} = reactor;
  const reset = () =>{
    resetMetrics();
    resetReactor();
  }
</script>

<style lang="postcss">
#app {
  display: flex;
  flex-flow: nowrap column;
  align-content: center;
  font-family: Helvetica, serif;
  height: 100%;
}
</style>